.product-wrapper {
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;

    &:nth-child(odd) {
        background: rgba($black,.05);
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid $gray;
    }
    .product-btns {
        margin-top: .5rem;
        margin: 0 auto;
    }
}

@include media-breakpoint-up(md) {
    .product-wrapper {
        .product-btns {
            margin-top: .5rem;
            margin-left: auto;
            margin-right: initial;
        }
    }
}

@include media-breakpoint-up(lg) {
    .product-wrapper {
        justify-content: flex-start;
    }
}
