
$black: #000;
$gray: #ccc;
$white: #fff;

$cyan: #13889b;
$green: #1b722f;
$gray-700: #495057;
$red: #96242f;
$yellow: #ad8305;

$body-bg: #e9ecef;

//bootstrap color
$primary:       $cyan !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
